[Unit]
Description=Redis Exporter for Prometheus
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ user }}
Group={{ group }}
ExecReload=/bin/kill -HUP
ExecStart=/usr/local/bin/redis_exporter --web.listen-address=:{{ exporter_port }}

SyslogIdentifier=redis_exporter
Restart=always

[Install]
WantedBy=multi-user.target
