[Unit]
Description=Redis Exporter for Prometheus
Wants=network-online.target redis.service
After=network-online.target redis.service

[Service]
Type=simple
User={{ user }}
Group={{ group }}
ExecReload=/bin/kill -HUP
ExecStart=/usr/local/bin/redis_exporter --web.listen-address=:{{ exporter_port }} --redis.addr=redis://{% if redis_bind_localhost == true %}localhost{% else %}{{ ansible_default_ipv4.address }}{% endif %}:{{ redis_port }}

SyslogIdentifier=redis-exporter
Restart=always

[Install]
WantedBy=multi-user.target
